<html>
  <head>
    <title>チャット</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <style>
      ul#messages { list-style: none; }
      ul#messages li { margin-bottom: 2px;}
      ul#messages li img { margin-right: 10px; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul id="messages"></ul>
        </div>
      </div>
      <form id="chatbox">
        <div class="form-group">
          <label for="message">{{.UserData.name}}からメッセージを送信</label>
          または、<a href="/logout">サインアウト</a>
          <textarea id="message" class="form-control"></textarea>
        </div>
        <input type="submit" value="送信" class="btn btn-default">
      </form>
    </div>
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script>
      $(function () {
        var socket = null;
        var msgBox = $('#chatbox textarea');
        var messages = $("#messages");
        $("#chatbox").submit(function () {
          if (!msgBox.val()) return false;
          if (!socket) {
            alert("エラー: WebSocket接続が行われていません。");
            return false;
          }
          socket.send(JSON.stringify({ Message: msgBox.val() }));
          msgBox.val("");
          return false;
        });
        if (!window["WebSocket"]) {
          alert("エラー: WebSocketに対応していないブラウザです");
        } else {
          socket = new WebSocket("ws://{{.Host}}/room");
          socket.onclose = function () {
            alert("接続が終了しました。");
          };
          socket.onmessage = function (e) {
            var msg = JSON.parse(e.data);
            messages.append(
              $("<li>").append(
                $("<img>").css({
                  width: 50,
                  verticalAlign: "middle"
                }).attr({
                  title: msg.Name,
                  src: msg.AvatarURL
                }),
                $("<strong>").text(msg.Name+":"),
                $("<span>").text(msg.Message)
              )
            );
          };
        }
      });
    </script>
  </body>
</html>
